<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
         <link rel="icon" href="/public/weather.png">
        <link rel="stylesheet" href=".././public/css/styles.css">
    </head>
    <body>
        <div class="content">
            <img src="/public/myprofile.jpg" id="image">
            {{>header}}
            <p id="text"> 
            Hello Viewers!<br>
            My name is Bhavya Sura! I am a polytechnic student currenty pursuing computer engineering.This website is created using Node.js,HTML,CSS,Javascript and Express.js.
            Lets talk about my technical skills.I know some basic languages like C,CPP,Java, and other languages/scripts mentioned above.I also have some PC building experience and knowledge.I recently completed my internship in digital marketing during the pandemic.In this covid-19 situations,I also gained knowledge about networking and working with APIs.
            </p>
        </div>
          {{>footer}}
    </body>
</html>