<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
         <link rel="icon" href="/public/weather.png">
        <link rel="stylesheet" href=".././public/css/styles.css">
    </head>
    <body>
        <div class="content">
            <img src="/public/myprofile.jpg" id="image">
            {{>header}}
            <p id="text"> 
            Hello Viewers!<br>
            My name is Bhavya Sura! I am a polytechnic student currenty pursuing computer engineering.This website is my first website displaying the weather forecast on entering the required location.
            </p>
        </div>
          {{>footer}}
    </body>
</html>